extend layout

block content
 form(method="POST",action=`/sales/panel/${boda._id}/update?_method=put`,autocomplete='off')
   .form-row
    .form-group.col-md-4
      label(for='firstname') First Name
      input.form-control(name='username', type='text',placeholder=`${boda.username}` value=`${boda.username}`)
    .form-group.col-md-4
      label(for='lastname') Last Name
      input.form-control(name='lastname',type='text',value=`${boda.lastname}`,placeholder=`${boda.lastname}`)
    .form-group.col-md-4
      label(for='currentDate') Current Date
      input.form-control(name='currentDate',type='date',value=`${boda.currentDate}`,placeholder=`${boda.currentDate}`)
   .form-row
    .form-group.col-md-4
     label(for='phone') Phone No.
     input.form-control(name='phone', type='text',value=`${boda.phone}`,placeholder=`${boda.phone}`)
    .form-group.col-md-4
     label(for='nationality') nationality
     select(name='nationality', type='text',value=`${boda.nationality}`,placeholder=`${boda.nationality}`).form-control
      option( selected='') choose..
      option(value='Ugandan') Ugandan
      option(value='Kenyan') Kenyan
      option(value='Tanzanian') Tanzanian
      option(value='Rwandan') Rwandan
      label(for='nationality') Nationality
    .form-group.col-md-4
      label(for='dob') Date of Birth
      input.form-control(name='dob', type='date',value=`${boda.bod}`,placeholder=`${boda.dob}`)
   .form-row
    .form-group.col.md-6
     label(for="nin") NIN
     input.form-control(name="nin", type='text',value=`${boda.nin}`,placeholder=`${boda.nin}`)
    .form-group.col-md-6
     label(for='vehicle') Vehicle type
     select(name="vehicle").form-control
      option(selected=``) #{boda.vehicle}
      option(value="bodaboda") bodaboda
      option(value="tukutuku") tukutuku
   fieldset
    legend Referee
    .form-row
     .form-group.col-md-4
       label(for='ref_firstname') Referee First Name
       input.form-control(name='ref_firstname', type='text',value=`${boda.ref_firstname}`,placeholder=`${boda.ref_firstname}`)
     .form-group.col-md-4
      label(for='ref_lastname') Referee Last Name
      input.form-control(name='ref_lastname', type='text',value=`${boda.ref_lastname}`,placeholder=`${boda.ref_lastname}`)
     .form-group.col-md-4
       label(for='ref_ref_phone') Ref Phone
       input.form-control(name='ref_phone', type='text',value=`${boda.ref_phone}`,placeholder=`${boda.ref_phone}`)
    .form-row
     .form-group.col-md-4
      label(for='ref_occupation') Referee occupation
      input.form-control(name='ref_occupation', type='text',value=`${boda.ref_occupation}`,placeholder=`${boda.ref_occupation}`)
     .form-group.col-md-4
       label(for='ref_dob') Referee Date Of Birth
       input.form-control(name='ref_dob', type='date',value=`${boda.ref_dob}`,placeholder=`${boda.ref_dob}`)
     .form-group.col-md-4
       label(for='downpay') Down Payment
       input.form-control(name='downpay', type='text',value=`${boda.downpay}`,placeholder=`${boda.downpay}`)
    .form-row
     .form-group.col-md-6
       label(for='marital_status') Marital Status
       select(name='marital_status').form-control
        option(selected='',) #{boda.marital_status}
        option(value="single") single
        option(value="divorced") divorced
        option(value="married") married
     .form-group.col-md-6
       label(for='other_loans') Other Loans
       input.form-control(name='other_loans', type='text',value=`${boda.other_loans}`,placeholder=`${boda.other_loans}`)
    .form-row
     .form-group.col-md-6
       label(for='stage_name') Stage Name
       select(name='stage_name',value=`${boda.stage_name}`,placeholder=`${boda.stage_name}`).form-control
        option(selected='',)  #{boda.stage_name}
        option(value="lc1") lc1
        option(value="lc3") lc3
    button.btn.btn-dark(type='submit') submit
    a(href=`#`)
     button(class="btn btn-info mt-4 ml-4") back