extends main

block content

  ul.list-group.list-group-flush
  .list.row
   li.list-group-item.col-md-4 First Name
   li.list-group-item.col-md-8 #{ user.username}
  .list.row
   li.list-group-item.col-md-4 Last Name
   li.list-group-item.col-md-8 #{user.lastname}
  .list.row
   li.list-group-item.col-md-4 Current Date
   li.list-group-item.col-md-8 #{user.currentDate}
  .list.row
   li.list-group-item.col-md-4 Phone No.
   li.list-group-item.col-md-8 #{user.phone}
  .list.row
   li.list-group-item.col-md-4 Nationality
   li.list-group-item.col-md-8 #{user.nationality}
  .list.row
   li.list-group-item.col-md-4 Date Of Birth
   li.list-group-item.col-md-8 #{user.dob}
  .list.row
   li.list-group-item.col-md-4 NIN
   li.list-group-item.col-md-8 #{user.nin}
  .list.row
   li.list-group-item.col-md-4 Vehicle type
   li.list-group-item.col-md-8 #{user.vehicle}
  h3 Referee Detail
  .list.row
   li.list-group-item.col-md-4 Referee First Name
   li.list-group-item.col-md-8 #{user.ref_firstname}
  .list.row
   li.list-group-item.col-md-4 Referee Last Name
   li.list-group-item.col-md-8 #{user.ref_lastname}
  .list.row
   li.list-group-item.col-md-4 Referee Date Of birth
   li.list-group-item.col-md-8 #{user.ref_dob}
  .list.row
   li.list-group-item.col-md-4 Down payment
   li.list-group-item.col-md-8 #{user.downpay}
  .list.row
   li.list-group-item.col-md-4 Marital Status
   li.list-group-item.col-md-8 #{user.marital_status}
  .list.row
   li.list-group-item.col-md-4 Other Loans
   li.list-group-item.col-md-8 #{user.other_loans}
  .list.row
   li.list-group-item.col-md-4 Stage Name
   li.list-group-item.col-md-8 #{user.stage_name}
  .row
   .col.mb-4
    a(href=`/api/user/customer_edit/${user._id}`)
     button(class="btn btn-dark mt-4" style='width:100px') Edit
    a(href=`/api/user/customer_update/${user._id}?_method=put`)
     button(class="btn btn-danger mt-4 ml-4" style='width:100px') Delete
    a(href='/api/user/salespanel')
     button(class="btn btn-dark mt-4 ml-4" style='width:100px') Back